- var menu_items = [];
- menu_items.push({ value: 'home', displayName: 'Home', href: "/" });
- menu_items.push({ value: 'ico', displayName: 'ICO', href: "/ico" });
- menu_items.push({ value: 'about', displayName: 'About', href: "/about" });
- menu_items.push({ value: 'blog', displayName: 'Blog', href: "/blog" });
- menu_items.push({ value: 'contact', displayName: 'Contact', href: "contact" });

block vars

doctype html
mixin nav_item(item)
  //- item == obj in menu_item array
  if (active == item.value)
    div(class='nav-item-container')
      a(href='#{item.href}', class='nav-item #{item.value} active') #{item.displayName}
  else
    div(class='nav-item-container')
      a(href='#{item.href}', class='nav-item #{item.value}') #{item.displayName}

head
  include ./meta.jade

  block css

body
  .navbar
    .nav-menu-toggle
      .i.fa.fa-bars
    //- .navbar-header
    //-   button.navbar-toggle.collapsed
    //-     span.sr-only Toggle navigation
    //-     span.icon-bar
    //-     span.icon-bar
    //-     span.icon-bar

    .nav-menu
      each item in menu_items
        +nav_item(item)

  .subnav
    block subnav

  .content
      block content

